{% extends "base.html" %} {% block content %}

<div style="height: 20px"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="jumbotron">
                <div class="container py-4">
                    <div class="p-5 mb-3 bg-light rounded-3">
                        <div class="container-fluid py-5">
                            <h1 style="text-align: center; line-height: 200px">
                                Quasar!
                                <img
                                    src="/static/images/logo.svg"
                                    alt="Let there be light"
                                    height="140px"
                                />
                            </h1>
                            <hr />
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='https://github.com/FreddyWordingham/Quasar'"
                            >
                                Repository <i class="bi bi-github"></i>
                            </button>
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='https://FreddyWordingham.github.io/Quasar/'"
                            >
                                Documentation <i class="bi bi-book-fill"></i>
                            </button>
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='/docs'"
                            >
                                API <i class="bi bi-motherboard-fill"></i>
                            </button>
                            <hr />
                            <div class="input-group">
                                <input
                                    id="index-session_id"
                                    type="text"
                                    class="form-control"
                                    placeholder="Session ID"
                                    onkeyup="$index.process_keystroke(event)"
                                />
                                <button
                                    id="start_session_button"
                                    class="btn btn-primary"
                                    onclick="$index.start_session()"
                                >
                                    Start <i class="bi bi-play-fill"></i>
                                </button>
                            </div>
                            {% if sessions %}
                            <hr />
                            <div class="list-group">
                                {% for session_id in sessions %}
                                <a
                                    class="list-group-item list-group-item-action"
                                    onclick="location.href='/session/id/{{ session_id }}'"
                                >
                                    {{ session_id }}
                                </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <hr />
                            <button
                                class="btn btn-warning"
                                onclick="$index.clean_session_data()"
                            >
                                Clean <i class="bi bi-trash3-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

<script>
    $index = {
        process_keystroke: function (event) {
            if (event.keyCode === 13) {
                $("#start_session_button").click();
            }
        },

        start_session: function () {
            let session_id = $("#index-session_id").val();
            $.post(
                "/session/id/" + session_id + "/start",
                {},
                function (session_id) {
                    window.location.replace("/session/id/" + session_id);
                }
            );
        },

        clean_session_data: function () {
            $.post("/session/clean");
        },
    };

    $(document).ready(function () {
        $("#index-session_id").val(new Date().toISOString());
    });
</script>

{% endblock %}
