{% extends "base.html" %} {% block content %}

<div style="height: 20px"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="jumbotron">
                <div class="container py-4">
                    <div class="p-5 mb-3 bg-light rounded-3">
                        <div class="container-fluid py-5">
                            <h1 style="text-align: center">Quasar!</h1>
                            <hr />
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='https://github.com/FreddyWordingham/Quasar'"
                            >
                                Repository
                            </button>
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='https://FreddyWordingham.github.io/Quasar/'"
                            >
                                Documentation
                            </button>
                            <button
                                class="btn btn-secondary"
                                onclick="location.href='/docs'"
                            >
                                API
                            </button>
                            <hr />
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"
                                        >Session ID</span
                                    >
                                </div>
                                <input
                                    name="session_id"
                                    id="session_id_input"
                                    type="text"
                                    class="form-control"
                                    value="some_random_string"
                                />
                            </div>
                            <div style="margin-bottom: 15px"></div>
                            <ul class="list-group">
                                {% for session_id in sessions %}
                                <li
                                    class="list-group-item list-group-item-action"
                                    onclick="location.href='/session/{{ session_id }}'"
                                >
                                    {{ session_id }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% if sessions %}
                            <div style="margin-bottom: 15px"></div>
                            {% endif %}
                            <button
                                class="btn btn-primary"
                                onclick="$index.launch_session()"
                            >
                                Launch
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>

<script>
    $index = {
        launch_session: function () {
            let session_id = $("#session_id_input").val();

            $.post("/session/" + session_id, {}, function (session_id) {
                window.location.replace("/session/" + session_id);
            });
        },
    };

    $(document).ready(function () {
        $("#session_id_input").val(new Date().toISOString());
    });
</script>

{% endblock %}
